@import '../reference/index';

$block: 'tooltip';

.#{$block} {
	@include box-shadow;

	background-color: $white;
	color: $primary;
	padding: 1rem;

	.tippy-content {
		> div > div > * {
			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.tippy-arrow {
		color: $white;
	}

	// &__list {
	// 	@include reset-list;
	// }

	// &__item {
	// 	border-top: 1px solid $grey-300;

	// 	&:first-child {
	// 		border-top: 0;
	// 	}
	// }

	// &__button {
	// 	@include reset-button;

	// 	width: 100%;
	// 	text-align: left;

	// 	@include hover-focus {
	// 		background-color: $grey-100;
	// 	}
	// }
}
