$primary: #4542ce;
$secondary: #4fed8e;
$light-blue: #cdf9fa;
$home-blue: #83eff2;
$danger: #f00;

// Monochrome
$white: #fff;
$grey-lighter: #f4f2f0;
$grey-light: #d8d8d8;
$grey: rgba(50, 50, 50, 0.37);
$black: #323232;
