@mixin input {
    @include box-shadow;

    appearance: none;
    border: 0;
    border-radius: 4px;
    padding: 1.25rem 1.5rem;
}

@mixin input-border {
    border: 1px solid $primary;
    box-sizing: border-box;
}

@mixin clear-button {
    appearance: none;
    background-color: transparent;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    padding: 0;
}

@mixin button {
    @include clear-button;
    @include box-shadow;

    @include font-weight(800);
    @include background-color-states($white, $primary);
    @include color-states($grey-900, $white);

    border-radius: 2rem;
    padding: 1rem 1.75rem;
}

@mixin button-light {
    @include button;

    @include background-color-states($primary-light, $primary-dark);
    @include color-states($primary, $white);

    // background-color: $primary-light;
    border: 0;
    // color: $white;
}

@mixin button-dark {
    @include button;

    @include background-color-states($primary);
    @include color-states($white, $white);

    background-color: $primary;
    border: 0;
    color: $white;
}
