// Media queries breakpoints
$breakpoints: (
	xs: 0,
	sm: 36rem,
	md: 48rem,
	lg: 60rem,
	xl: 82rem
);

// Resolution/DPI
$screen-resolution-hdpi: 1.5;

// Media query for high resolution screens
$media-hdpi: '(min-resolution: ('($screen-resolution-hdpi * 1dppx)'))';

/// Surround content with a minimum window width media query.
/// @content
/// @param {string|number} $breakpoint The breakpoint key to select the minimum
///                                    width from the map or a minimum width
///                                    value.
@mixin media-min($breakpoint) {
	@if map-has-key($breakpoints, $breakpoint) {
		@media (min-width: map-get($breakpoints, $breakpoint)) {
			@content;
		}
	} @else {
		@media (min-width: $breakpoint) {
			@content;
		}
	}
}

/// Surround content with a maximum window width media query.
/// @content
/// @param {string|number} $breakpoint The breakpoint key to select the maximum
///                                    width from the map, or a maximum width
///                                    value.
@mixin media-max($breakpoint) {
	@if map-has-key($breakpoints, $breakpoint) {
		@media (max-width: (map-get($breakpoints, $breakpoint) - .0625rem)) {
			@content;
		}
	} @else {
		@media (max-width: $breakpoint) {
			@content;
		}
	}
}


/// Surround content with a high resolution media query.
/// @content
@mixin media-hdpi {
	@media #{$media-hdpi} {
		@content;
	}
}