@mixin font-weight($default: 400) {
    font-weight: $default;
}

@mixin font-size-16 {
    font-size: 1rem;
}

@mixin font-size-20 {
    font-size: 1.25rem;
}

@mixin font-size-24 {
    font-size: 1.5rem;
}

@mixin font-size-36 {
    font-size: 2.25rem;
}
