{
	"extends": [
		"next",
		"prettier",
		"next/core-web-vitals",
		"eslint-config-next"
	],
	"parser": "@typescript-eslint/parser",
	"plugins": [
		"simple-import-sort",
		"sort-destructure-keys",
		"typescript-sort-keys"
	],
	"rules": {
		"react/jsx-sort-props": [
			"error",
			{
				"callbacksLast": true,
				"shorthandFirst": true,
				"shorthandLast": false,
				"ignoreCase": false,
				"noSortAlphabetically": false,
				"reservedFirst": true
			}
		],
		"simple-import-sort/imports": "error",
		"simple-import-sort/exports": "error",
		"sort-destructure-keys/sort-destructure-keys": 2,
		"sort-keys": [
			"error",
			"asc",
			{ "caseSensitive": true, "natural": false, "minKeys": 2 }
		],
		"typescript-sort-keys/interface": [
			"error",
			"asc",
			{ "caseSensitive": true, "natural": true, "requiredFirst": true }
		]
	}
}
