@import '../reference/index';

$block: 'table';

.#{$block} {
	$padding: 2.625rem;

	button {
		@include image-replacement;

		cursor: pointer;
		fill: $primary;
	}

	&__pill {
		display: inline;

		@include media-max(sm) {
			font-size: 0.825rem;
			padding: 0.5rem 0.75rem;
		}
	}

	&__row-group {
		border-top: 1px solid $grey-200;
		position: relative;
		width: 100%;

		&--header {
			display: none;

			@include media-min(sm) {
				display: grid;
			}
		}

		&--main,
		&--options {
			padding: 1.25rem 1rem;

			@include media-min(sm) {
				padding: 0;
			}
		}

		&--main {
			> .#{$block}__row {
				display: grid;
				grid-template-columns: 5rem 1fr 1fr 3rem;
				grid-template-rows: repeat(3, 1fr);
				row-gap: 0.25rem;

				@include media-min(sm) {
					grid-template-columns: 5.25rem 7rem 3fr 4fr 3fr 2fr 3fr 2fr 5.25rem;
					grid-template-rows: initial;
					row-gap: initial;
				}
			}
		}

		&--hidden {
			display: none;
		}
	}

	&__row {
		background-color: $white;
		box-sizing: border-box;
	}

	&__cell {
		align-items: center;
		display: flex;
		// padding: 0.125rem 0;
		white-space: nowrap;

		@include media-min(sm) {
			padding: $padding / 2 1rem;
		}

		&--align {
			&-right {
				justify-content: flex-end;
			}

			&-center {
				justify-content: center;
			}
		}

		&:first-child {
			@include media-min(sm) {
				padding-left: $padding;
			}
		}

		&:last-child {
			@include media-min(sm) {
				padding-right: $padding;
			}
		}

		&--lock {
			span {
				& + * {
					margin-left: 0.5rem;
				}

				@include media-min(sm) {
					display: none;

					& + * {
						margin-left: initial;
					}
				}
			}
			@include media-max(sm) {
				grid-row-start: 3;
				justify-content: flex-start !important;
				// width: 8%;
			}
		}

		&--status {
			// display: none;

			@include media-max(sm) {
				display: inline-block;
				// grid-row-start: 2;
				// display: flex;
				// width: 12%;
			}
		}

		&--first-name {
			> div {
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
			span {
				margin-left: 0.25rem;

				@include media-min(sm) {
					display: none;
					margin-left: initial;
				}
			}

			@include media-max(sm) {
				grid-column-start: 2;
				grid-column-end: 4;
				font-weight: 600;
				// width: 12%;
			}
		}

		&--last-name {
			display: none;
			font-weight: 600;

			@include media-min(sm) {
				display: flex;
				font-weight: 400;
				// width: 20%;
			}
		}

		&--positions {
			@include media-max(sm) {
				grid-column-start: 2;
			}
		}

		&--team {
			@include media-max(sm) {
				grid-column-start: 2;
				grid-row-start: 3;
				// width: 7%;
			}
		}

		&--salary {
			@include media-max(sm) {
				grid-column-start: 3;
				grid-row-start: 3;
				// width: 15%;
			}
		}

		&--fppg {
			@include media-max(sm) {
				grid-column-start: 3;
				grid-row-start: 2;
				// width: 10%;
			}
		}

		&--options {
			@include media-max(sm) {
				position: absolute;
				top: 1rem;
				right: 0.5rem;
				// width: 8%;
			}
		}

		&--total {
			// width: 73%;
		}

		&--pagination {
			display: flex;
			justify-content: space-between;
			width: 100%;
		}

		&--csv {
			width: 100%;

			a {
				&:visited {
					color: inherit;
				}
			}

			svg {
				fill: $primary;
				margin-right: 0.5rem;
				vertical-align: middle;
			}
		}
	}

	&__footer {
		font-weight: 700;

		> .#{$block}__row {
			border-top: 1px solid $grey-200;
		}
	}
}
