@import '../reference/index';

$block: 'table';

.#{$block} {
	$padding: 2.625rem;

	button {
		@include image-replacement;

		cursor: pointer;
		fill: $primary;
	}

	&__row-group {
		width: 100%;

		&--header {
			display: none;

			@include media-min(sm) {
				display: block;
			}
		}

		&--hidden {
			height: 0;
			overflow: hidden;
		}
	}

	&__row {
		border-top: 1px solid $grey-200;
		background-color: $white;
		box-sizing: border-box;

		&--child {
			border-top: 0;
			display: flex;
			flex-wrap: wrap;
			padding: 0.25rem $padding / 2;

			@include media-min(sm) {
				flex-wrap: initial;
				padding: 0;
			}
		}

		> .#{$block}__cell-group {
			& + .#{$block}__cell-group {
				margin-left: 1rem;
			}
		}
	}

	&__cell-group {
		&--row {
			display: flex;

			@include media-min(sm) {
				display: block;
			}
		}

		&--full-width {
			flex: 1;

			@include media-min(sm) {
				flex: initial;
			}
		}

		&--split {
			justify-content: space-between;
			@include media-min(sm) {
				justify-items: initial;
			}
		}
	}

	&__cell {
		align-items: center;
		display: flex;
		padding: 0.125rem 0;
		white-space: nowrap;

		@include media-min(sm) {
			padding: $padding / 2 1rem;
		}

		&--align {
			&-right {
				justify-content: flex-end;
			}

			&-center {
				justify-content: center;
			}
		}

		&:first-child {
			@include media-min(sm) {
				padding-left: $padding;
			}
		}

		&:last-child {
			@include media-min(sm) {
				padding-right: $padding;
			}
		}

		&--lock {
			@include media-min(sm) {
				width: 8%;
			}
		}

		&--status {
			display: none;

			@include media-min(sm) {
				display: block;
				width: 12%;
			}
		}

		&--first-name {
			font-weight: 600;

			@include media-min(sm) {
				font-weight: 400;
				width: 12%;
			}
		}

		&--last-name {
			font-weight: 600;
			margin-left: 0.25rem;

			@include media-min(sm) {
				font-weight: 400;
				margin-left: 0;
				width: 20%;
			}
		}

		&--positions {
			@include media-min(sm) {
				width: 13%;
			}
		}

		&--team {
			@include media-min(sm) {
				width: 7%;
			}
		}

		&--salary {
			@include media-min(sm) {
				width: 15%;
			}
		}

		&--fppg {
			@include media-min(sm) {
				width: 10%;
			}
		}

		&--options {
			display: none;

			@include media-min(sm) {
				display: block;
				width: 8%;
			}
		}

		&--total {
			width: 73%;
		}

		&--pagination {
			display: flex;
			justify-content: space-between;
			width: 100%;
		}

		&--csv {
			width: 100%;

			a {
				&:visited {
					color: inherit;
				}
			}

			svg {
				fill: $primary;
				margin-right: 0.5rem;
				vertical-align: middle;
			}
		}
	}

	&__footer {
		font-weight: 700;

		> .#{$block}__row {
			border-top: 1px solid $grey-200;
		}
	}
}
