@import '../reference/index';

$block: 'skip-link';

.#{$block} {
	display: block;
	height: 1px;
	left: -999rem;
	overflow: hidden;
	padding: 1rem 0;
	position: absolute;
	text-align: center;
	top: -999rem;

	&:focus,
	&:active {
		height: auto;
		left: auto;
		overflow: auto;
		position: relative;
		top: auto;
	}
}
