@import '../reference/index';

$block: 'filter';

.#{$block} {
	align-items: center;
	display: inline-flex;

	&__button {
		margin-left: 1rem;
		padding: 0.325rem;

		svg {
			display: block;
			height: 1rem;
			width: 1rem;
		}
	}

	&__list {
		@include reset-list;

		margin-left: 1rem;
	}

	&__item {
		display: inline-block;

		&:not(:first-child) {
			margin-left: 1rem;
		}

		.#{$block}__button {
			@include box-shadow;

			align-items: center;
			border: 0;
			border-radius: 0.75rem;
			display: flex;
			cursor: pointer;
			font-weight: 700;
			padding: 0.25rem 0.75rem;
			margin-left: 0;

			svg {
				fill: $white;
				margin-left: 0.5rem;
				margin-right: -0.25rem;
				height: 1rem;
				width: 1rem;
			}
		}

		&--position {
			.#{$block}__button {
				background-color: $teal-dark;
				color: $white;
			}
		}

		&--team {
			.#{$block}__button {
				background-color: $orange;
				color: $white;
			}
		}
	}
}
