@import '../reference/index';

$block: 'form';

.#{$block} {
	border-radius: 0.5rem;
	box-sizing: border-box;

	&--white {
		background-color: $white;
	}

	&__row + &__row {
		margin-top: 1rem;
	}

	&__col {
		&--inline {
			@include media-min(md) {
				align-items: baseline;
				display: flex;
			}
		}
	}

	&__heading {
		margin-bottom: 0;
		margin-top: 0;

		& + p {
			margin-bottom: 1.5rem;
			margin-top: 0.5rem;
		}
	}

	&__label {
		@include hidden;
	}

	&__button {
		color: $white;

		& + .#{$block}__filter {
			margin-left: 1.625rem;
			padding-left: 1.625rem;

			&::before {
				content: '';
				border-left: 1px solid $grey-400;
				margin-left: -1.625rem;
				padding-right: 1.5rem;
				height: 1.5rem;
				width: 1px;
			}
		}
	}

	&__input,
	&__textarea {
		width: 100%;
	}

	&__textarea {
		min-height: 10rem;
	}

	&__bar {
		display: flex;

		// @include media-min(md) {
		// 	display-
		// }

		// display: flex;
		// flex-direction: column;
		// justify-content: space-between;
		// width: 100%;

		// @include media-min(md) {
		// 	flex-direction: row;
		// }

		// > * {
		// 	display: flex;
		// }

		.input {
			flex: 1;

			@include media-min(md) {
				flex: initial;
				min-width: 8rem;
			}
		}
	}

	// &__left {
	// 	flex-direction: column;

	// 	@include media-min(md) {
	// 		flex-direction: row;
	// 	}
	// }

	// &__right {
	// }

	// &__filter {
	// 	display: inline-block;
	// 	margin-left: 1rem;
	// }

	&__optimize {
		margin-left: 1rem;
	}
}
