@import '../reference/index';

$block: 'input-group';

.#{$block} {
	&--error {
		input {
			border: 1px solid $red;
		}
	}

	& + & {
		margin-top: 1rem;
	}

	> span {
		& + * {
			margin-top: 0.5rem;
		}
	}

	&__inputs {
		display: flex;

		> * + * {
			margin-left: 0.5rem;
		}

		& + * {
			margin-top: 0.5rem;
		}
	}

	&__input {
		input {
			box-shadow: 0;
		}

		&--100 {
			flex: 1;
		}
	}

	&__label {
		svg {
			fill: $primary-dark;
			margin-left: 0.5rem;
			margin-top: -0.25rem;
			vertical-align: middle;
			width: 20px;
			height: 20px;
		}
	}

	&__error {
		color: $red;
	}
}
