@import '../reference/index';

$block: 'input-dropdown';

.#{$block} {
    // @include input-border;

    background-color: $white;
    display: inline-block;
    position: relative;
    width: 100%;

    & + * {
        margin-left: 1.5rem;
    }

    &--disabled {
        border-color: $grey-800;
    }

    &__input {
        @include input;

        background-color: transparent;
        width: 100%;

        &[disabled] {
            background-color: $grey-200;
            color: $grey-800;
        }

        &::-webkit-input-placeholder {
            line-height: normal;
        }
    }

    &__button {
        @include image-replacement;

        background-color: $white;
        border: 0;
        padding: 0;
        position: absolute;
        bottom: 0;
        right: 0;
        top: 0;
        padding-left: 1rem;
        padding-right: 1rem;

        &[disabled] {
            background-color: $grey-400;
        }

        svg {
            fill: $primary;
        }
    }

    &__list {
        background-color: $white;
        border: 1px solid $primary;
        border-top: 0;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        box-sizing: border-box;
        left: -1px;
        list-style: none;
        margin-bottom: 0;
        margin-top: 0;
        max-height: 20rem;
        overflow-x: hidden;
        overflow-y: scroll;
        padding-left: 0;
        position: absolute;
        right: -1px;
        top: calc(100% + 1px);
        z-index: 1;
    }

    &__item {
        border-top: 1px solid $grey-200;
        padding: 0.5rem 1rem;
    }
}
