@import '../reference/index';

$block: 'rules';

.#{$block} {
	background-color: $white;
	bottom: 3.125rem;
	display: none;
	left: 0;
	padding: 1rem 1.5rem;
	position: fixed;
	right: 0;
	top: 3.75rem;
	z-index: 5;

	@include media-min(sm) {
		bottom: initial;
		display: block;
		position: sticky;
		top: 1.5rem;
	}

	&--active {
		display: block;
	}

	&__button {
		@include media-min(md) {
			display: none;
		}

		button {
			background-color: transparent;
			border: 0;
			cursor: pointer;
			margin: 0;
			padding: 0;
			position: relative;
			// text-align: left;
			width: 100%;

			span {
				font-weight: 600;
				color: $primary-dark;
				position: relative;
				padding-left: 1rem;
				padding-right: 1rem;
				z-index: 1;
				background-color: $grey-100;

				svg {
					height: 24px;
					width: 24px;
					vertical-align: middle;
				}
			}

			&::before {
				border-top: 1px solid $primary-dark;
				content: '';
				left: 0;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 0;
				z-index: 0;
			}
		}
	}

	&__heading {
		margin-bottom: 0;
		margin-top: 0;
	}
}
