@import '../reference/index';

$block: 'select';

.#{$block} {
	// display: inline-block;
	position: relative;

	span {
		& + * {
			margin-top: 0.5rem;
		}
	}

	&__input {
		@include input;

		cursor: pointer;
		display: block;
		width: 100%;
	}
}
