@import '../reference/index';

html {
	position: relative;
}

body {
	@include default-font;

	background-color: $grey-100;
	color: $primary-dark;
	line-height: 1.5;
}

a {
	text-decoration: none;
}

h2 {
	margin-top: 2.5rem;
}
