@import '../reference/index';

#__next {
	@include media-min(md) {
		display: flex;
		min-height: 100vh;
	}
}

.container {
	max-width: 55rem;
	padding-left: 1rem;
	padding-right: 1rem;

	@include media-min(md) {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

.hidden {
	@include hidden;
}
