@import '../reference/index';

$block: 'main';

.#{$block} {
	&__container {
		// @include container;
		padding-left: 1rem;
		padding-right: 1rem;

		@include media-min(md) {
			padding-left: 3rem;
			padding-right: 3rem;
		}
	}
}
