@import '../reference/index';

$block: 'nav';

.#{$block} {
    $horizontal-spacing: 2rem;

    background-color: $primary;
    padding-bottom: $horizontal-spacing;
    padding-top: $horizontal-spacing;

    &--active {
        .#{$block}__list {
            transform: translate3d(0, 0, 0);
        }
    }

    &__container {
        @include container;

        display: flex;
        justify-content: space-between;
    }

    &__main {
        align-items: center;
        display: flex;
    }

    &__mobile-button {
        @include image-replacement;

        background-color: transparent;
        cursor: pointer;
        display: inline-block;
        padding: 0;

        @include media-min(md) {
            display: none;
            margin-right: 0;
        }

        svg {
            fill: $white;
        }
    }

    &__heading {
        color: $white;
        display: inline-block;
        font-size: 1.25rem;
        margin: 0;
    }

    &__list {
        @include font-size-20;
        @include container;

        background-color: $primary-dark;
        bottom: 0;
        left: 0;
        list-style: none;
        margin-bottom: 0;
        margin-top: 0;
        padding-top: 2rem;
        position: fixed;
        right: 0;
        top: 5.875rem;
        transition: all 0.3s ease-in-out;
        transform: translate3d(-100%, 0, 0);
        z-index: 999;

        @include media-min(md) {
            @include font-size-16;

            background-color: transparent;
            padding-left: 0;
            padding-right: 0;
            padding-top: 0;
            position: static;
            transition: none;
            transform: none;
        }
    }

    &__item {
        display: block;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;

        @include media-min(md) {
            display: inline-block;
            margin: 0 1rem;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__link {
        color: $primary-light;

        @include hover-focus {
            color: $white;
        }

        &--active {
            &:visited {
                color: $white;
            }
        }
    }
}
