@import '../reference/index';

$block: 'nav';

.#{$block} {
	background-color: $primary;
	// padding-bottom: $horizontal-spacing;
	// padding-top: $horizontal-spacing;

	&--active {
		.#{$block}__list {
			transform: translate3d(0, 0, 0);
		}
	}

	&__container {
		@include container;

		background-color: $primary-dark;
		margin-left: initial;
		margin-right: initial;
		position: relative;

		@include media-min(md) {
			min-height: 6rem;
		}
	}

	&__main {
		align-items: center;
		display: flex;
	}

	&__mobile-button {
		@include image-replacement;

		background-color: transparent;
		cursor: pointer;
		display: inline-block;
		padding: 0;
		position: absolute;
		left: 1rem;
		top: 50%;
		transform: translateY(-50%);

		@include media-min(md) {
			display: none;
			margin-right: 0;
		}

		svg {
			fill: $white;
		}
	}

	&__heading {
		color: $white;
		font-size: 1.25rem;
		margin: 0;
		padding: 1rem 0;
		text-align: center;

		@include media-min(md) {
			padding: 2rem 0;
		}
	}

	&__list {
		@include font-size-20;

		background-color: $primary;
		bottom: 0;
		left: 0;
		list-style: none;
		margin-bottom: 0;
		margin-top: 0;
		padding-left: 0;
		position: fixed;
		right: 0;
		top: 3.85rem;
		transition: all 0.3s ease-in-out;
		transform: translate3d(-100%, 0, 0);
		z-index: 999;

		@include media-min(md) {
			@include font-size-16;

			background-color: transparent;
			margin-left: initial;
			margin-right: initial;
			padding-left: 0;
			padding-right: 0;
			padding-top: 0;
			position: static;
			transition: none;
			transform: none;
			width: 100%;
		}
	}

	&__item {
		display: block;

		> * {
			color: $white;
			padding: 1rem;

			@include media-min(md) {
				padding: 1rem $padding-horizontal;
			}
		}
	}

	&__link {
		@include font-weight(600);

		color: rgba($white, 0.75);
		display: block;

		@include hover-focus {
			color: $white;
		}

		&--active {
			background-color: $primary-dark;
			color: $white;

			&:visited {
				color: $white;
			}
		}
	}
}
